@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141313;
  overflow-x: hidden;
}

* {
  color: white;
  font-family: 'Poppins';
}

i,
span,
.fa-brands {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: black;
}

.fa-brands:hover {
  transform: scale(1.3);
}

#card * {
  color: black;
}

#services {
  background-image: url(./components/images/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slick-slide>div {
  display: flex;
  margin: 0px 10px;
}

body,
html {
  scroll-behavior: smooth;
}